footer{
    background-color: rgb(73, 73, 73);
    .redes{
        display: flex;
        margin-top: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .footer_logo{
            height: 3rem;
            margin-left: 5rem;
        }
        .footer_logoInstagram{
            height: 3rem;
            width: 3rem;
            
            
        }
        .footer_logoFacebook{
            height: 3rem;
            width: 3rem;
            
        }
        .footer_logowhatsapp{
            height: 3rem;
            width: 3rem;
        }
    }
}

@media only screen and (min-width: 769px){
    footer{
        height: 8rem;
        .redes{
            display: flex;
            
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-top: 2rem;
            .footer_logo{
                height: 4rem;
                margin-left: 5rem;
            }
            .footer_logoInstagram{
                height: 4rem;
                width: 4rem;
                
                
            }
            .footer_logoFacebook{
                height: 4rem;
                width: 4rem;
                
            }
            .footer_logowhatsapp{
                height: 4rem;
                width: 4rem;
            }
        }
    }
}


@media only screen and (min-width: 1024px){
    footer{
        height: 8rem;
        .redes{
            display: flex;
            
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-top: 2rem;
            .footer_logo{
                height: 4rem;
                margin-left: 5rem;
            }
            .footer_logoInstagram{
                height: 4rem;
                width: 4rem;
                &:hover{
                    opacity: 40%;
                    @keyframes animacion {
                        from{}
                        to{
                            
                        }
                        
                    }
                }
            }
            .footer_logoFacebook{
                height: 4rem;
                width: 4rem;
                
            }
            .footer_logowhatsapp{
                height: 4rem;
                width: 4rem;
            }
        }
    }
}