@mixin espaciado($color){
    padding: 1rem;
    margin: 1rem;
    background-color: ($color);
    @if $color == rgb(135, 196, 250){
        color: white;
    }
    @else if $color==rgb(110, 228, 155){
        color: black;
        font-style: italic;
    }
        @else if $color ==rgb(227, 135, 250){
            color: brown;
            font-style: bold;
        }
            @else{color: navy}
}

section .caja1{
    @include espaciado(rgb(135, 196, 250));
    
}

section .caja2{
    @include espaciado(rgb(110, 228, 155));
}

section .caja3{
    @include espaciado(rgb(227, 135, 250));
}