#Opiniones{
    margin-left: 5px;
    h3{
        font-family: 'Anton', sans-serif;
        color:#93B5C6;
        font-size: 20px;
        padding-top: 10px;
        text-align: center;
    }
    .opiniones_cards{
        font-size: 16px;
        text-align: center;
    
    }
    .opiniones_cards_p{
        font-size: 12px;
        text-align: center;
    }
}

@media only screen and (min-width: 769px){
    #Opiniones{
        margin-left: 5px;
        h3{
            font-family: 'Anton', sans-serif;
            color:#93B5C6;
            font-size: 40px;
            padding-top: 20px;
            text-align: center;
        }
        .opiniones_cards{
            font-size: 20px;
            text-align: center;
        
        }
        .opiniones_cards_p{
            font-size: 14px;
            text-align: center;
        }
    }
}

@media only screen and (min-width: 1024px){
    #Opiniones{
        margin-left: 5px;
        h3{
            font-family: 'Anton', sans-serif;
            color:#93B5C6;
            font-size: 40px;
            padding-top: 20px;
            text-align: center;
        }
        .opiniones_cards{
            font-size: 24px;
            text-align: center;
        
        }
        .opiniones_cards_p{
            font-size: 18px;
            text-align: center;
        }
        .opiniones_small{
            font-size: 14px;
        }
    }

}


@media only screen and (min-width: 1254px){
    #Opiniones{
        margin-left: 5px;
        h3{
            font-family: 'Anton', sans-serif;
            color:#93B5C6;
            font-size: 40px;
            padding-top: 20px;
            text-align: center;
        }
        .opiniones_cards{
            font-size: 24px;
            text-align: center;
        
        }
        .opiniones_cards_p{
            font-size: 18px;
            text-align: center;
        }
        .opiniones_small{
            font-size: 14px;
        }
    }
}

@media only screen and (min-width: 1624px){
    #Opiniones{
        margin-left: 5px;
        h3{
            font-family: 'Anton', sans-serif;
            color:#93B5C6;
            font-size: 60px;
            padding-top: 20px;
            text-align: center;
        }
        .opiniones_cards{
            font-size: 38px;
            text-align: center;
        
        }
        .opiniones_cards_p{
            font-size: 30px;
            text-align: center;
        }
        .opiniones_small{
            font-size: 24px;
        }
    }
}