@mixin estilo {
        font-family: 'Anton', sans-serif;
        color:#93B5C6;
        text-align: center;
}

@mixin formato1{
        width: 100%;
        height: 59vh;
        object-fit: cover;
}
@mixin formato2{
        width: 100%;
        height: 62vh;
        object-fit: cover;
}

@mixin formato3{
        width: 100%;
        height: 66vh;
        object-fit: cover;
}

@mixin formato4 {
        width: 100%;
        height: 70vh;
        object-fit: cover;
}

#Productosdestacados{
        margin-left: 5px;
        
        .cajasProductos{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 90%;
                margin: 0 auto;
                .col{
                        width: 100%;
                }

        }
        .texto1{
                @include estilo;
                font-size: 30px;
                padding-bottom: 2px;
                margin-top: 30px;
        }
        .texto2{
                font-size: 14px;
        }
        .texto3{
                font-size: 18px;
        }
}






@media only screen and (min-width: 769px){
        #Productosdestacados{
                margin-left: 5px;
                .cajasProductos{
                        display: flex;
                        justify-content: wrap;
                        align-items: center;
                        width: 90%;
                        margin: 0 auto;
                        .col{
                                width: 50%;
                        }
        
                }
        }
        .texto1{
                font-family: 'Anton', sans-serif;
                color:#93B5C6;
                font-size: 30px;
                padding-bottom: 2px;
                text-align: center;
        }
}

@media only screen and (min-width: 1024px){
        #Productosdestacados{
                margin-left: 5px;
                
                .cajasProductos{
                        display: flex;
                        justify-content: wrap;
                        align-items: center;
                        width: 100%;
                        margin: 0 auto;
                        .col{
                                width: 30%;
                                .productosdestacados_col_imagen1{
                                        @include formato1
                                }
                                .productosdestacados_col_imagen2{
                                        @include formato2;
                                }
                                .productosdestacados_col_imagen3{
                                        width: 100%;
                                        height: 62vh;
                                        object-fit: cover;
                                }
                                .productosdestacados_col_imagen4{
                                        @include formato2;
                                }
                                .productosdestacados_col_imagen5{
                                        @include formato2;
                                }
                                .productosdestacados_col_imagen6{
                                        @include formato2;
                                }
                                .texto3{
                                        font-size: 18px;
                                }
                                .texto2{
                                        font-size: 14px;
                                }
                                .boton{
                                        font-size: 16px;
                                }
                        }
                        
                }
                .texto1{
                        @include estilo;
                        font-size: 30px;
                        padding-bottom: 2px;
                }
        }

}


@media only screen and (min-width: 1254px){
        #Productosdestacados{
                margin-left: 5px;
                .cajasProductos{
                        display: flex;
                        justify-content: wrap;
                        align-items: center;
                        width: 100%;
                        margin: 0 auto;
                        .col{
                                width: 30%;
                                .productosdestacados_col_imagen1{
                                        width: 100%;
                                        height: 63vh;
                                        object-fit: cover;
                                }
                                .productosdestacados_col_imagen2{
                                        width: 100%;
                                        height: 63vh;
                                        object-fit: cover;
                                }
                                .productosdestacados_col_imagen3{
                                        @include formato3;
                                }
                                .productosdestacados_col_imagen4{
                                        @include formato3;
                                }
                                .productosdestacados_col_imagen5{
                                        @include formato3;
                                }
                                .productosdestacados_col_imagen6{
                                        width: 100%;
                                        height: 66vh;
                                        object-fit: cover;
                                }
                                .texto3{
                                        font-size: 20px;
                                }
                                .texto2{
                                        font-size: 16px;
                                }
                                .boton{
                                        font-size: 18px;
                                }
                        }
                        
                }
        }
        .texto1{
                @include estilo;
                font-size: 40px;
                padding-bottom: 2px;
        }
}


@media only screen and (min-width: 1624px){
        #Productosdestacados{
                .texto1{
                        font-size: 40px;
                }
                margin-left: 5px;
                .cajasProductos{
                        display: flex;
                        justify-content: wrap;
                        align-items: center;
                        width: 100%;
                        margin: 0 auto;
                        .col{
                                width: 30%;
                                .productosdestacados_col_imagen1{
                                        width: 100%;
                                        height: 66vh;
                                        object-fit: cover;
                                }
                                .productosdestacados_col_imagen2{
                                        width: 100%;
                                        height: 66vh;
                                        object-fit: cover;
                                }
                                .productosdestacados_col_imagen3{
                                        @include formato4;
                                }
                                .productosdestacados_col_imagen4{
                                        @include formato4;
                                }
                                .productosdestacados_col_imagen5{
                                        @include formato4;
                                }
                                .productosdestacados_col_imagen6{
                                        @include formato4;
                                }
                                .texto3{
                                        font-size: 26px;
                                }
                                .texto2{
                                        font-size: 20px;
                                }
                                .boton{
                                        font-size: 24px;
                                }
                        }
                        
                }
        }
        .texto1{
                @include estilo;
                font-size: 40px;
                padding-bottom: 2px;
        }
}