@mixin grid_producto {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    
}

.hijo{
    padding: 5px;
}

.naranja{
    display:none;
}
.rosa{
    width: 100%;
    .producto{
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.amarillo{
    width: 100%;
    .producto{
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}


.verde{
    width: 100%;
    .producto{
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.azul{
    width: 100%;
    .producto{
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.rojo{
    width: 100%;
    .producto{
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.violeta{
    .producto{
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}


@media only screen and (min-width: 769px){
    .padre{
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
        grid-template-areas:
        "naranja naranja"
        "rosa amarillo"
        "azul verde"
        "rojo violeta";
    }
    .hijo{
        padding: 5px;
    }

    .naranja{
        display: grid;
        grid-area: naranja;
        width: 100%;
        
        .producto{
            height: 25rem;
            @include grid_producto();
            
        }
    }
    .rosa{
        grid-area: rosa;
        width: 100%;
        .producto{
            @include grid_producto()
        }
    }
    .amarillo{
        grid-area: amarillo;
        width: 100%;
        .producto{
            @include grid_producto()
        }
    }
    .azul{
        grid-area: azul;
        width: 100%;
        .producto{
            @include grid_producto()
        }
    }
    .verde{
        grid-area: verde;
        width: 100%;
        .producto{
            @include grid_producto()
        }
    }
    .rojo{
        grid-area: rojo;
        width: 100%;
        .producto{
            @include grid_producto()
        }
    }
    .violeta{
        grid-area: violeta;
        width: 100%;
        .producto{
            @include grid_producto()
        }
    }
}

@media only screen and (min-width: 1024px){
    .naranja{
        display: grid;
        grid-area: naranja;
        width: 100%;
        .producto{
            height: 35rem;
            @include grid_producto();
        }
    }
}

@media only screen and (min-width: 1536px){
    .padre{
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr;
        grid-template-areas:
        "naranja naranja naranja"
        "rosa amarillo azul"
        "verde rojo violeta"
    }
    .naranja{
        display: grid;
        grid-area: naranja;
        width: 100%;
        .producto{
            height: 45rem;
            @include grid_producto();
        }
    }
}