.navbar_containers {
  background-color: #cb6ce6;
}

.navbar_containers .bordesRedondeados {
  height: 50px;
  margin-left: 5px;
}

.navbar_containers h4 {
  display: none;
  font-family: 'Dancing Script', cursive;
  font-size: 15px;
}

.navbar_containers .menuHamburguesa {
  font-size: 16px;
  font-weight: bold;
  padding-left: 2rem;
}

.navbar_containers .menuHamburguesa .nav_menuhamburguesa_submenu {
  font-size: 14px;
  color: white;
}

@media only screen and (min-width: 768px) {
  .navbar_containers {
    background-color: #cb6ce6;
  }
  .navbar_containers .bordesRedondeados {
    height: 50px;
    margin-left: 5px;
  }
  .navbar_containers h4 {
    display: inline;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
  }
  .navbar_containers .menuHamburguesa {
    font-size: 16px;
    font-weight: bold;
    padding-left: 2rem;
  }
  .navbar_containers .menuHamburguesa .nav_menuhamburguesa_submenu {
    font-size: 24px;
  }
}

@media only screen and (min-width: 1024px) {
  header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  header .navbar_containers {
    background-color: #cb6ce6;
  }
  header .navbar_containers .bordesRedondeados {
    height: 50px;
    margin-left: 10px;
  }
  header .navbar_containers h4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Dancing Script', cursive;
    font-size: 26px;
    color: white;
    margin-left: 0;
    text-align: center;
  }
  header .navbar_containers .menuHamburguesa {
    font-size: 16px;
    font-weight: bold;
  }
  header .navbar_containers .menuHamburguesa .nav_menuhamburguesa_submenu {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1254px) {
  header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  header .navbar_containers {
    background-color: #cb6ce6;
  }
  header .navbar_containers .bordesRedondeados {
    height: 40px;
    margin-left: 5px;
  }
  header .navbar_containers h4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
    margin-left: 1rem;
    text-align: center;
  }
  header .navbar_containers .menuHamburguesa {
    font-size: 16px;
    font-weight: bold;
    padding-left: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .navbar_containers .menuHamburguesa .nav_menuhamburguesa_submenu {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1624px) {
  header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  header .navbar_containers {
    background-color: #cb6ce6;
  }
  header .navbar_containers .bordesRedondeados {
    height: 80px;
    margin-left: 6px;
  }
  header .navbar_containers h4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    margin-left: 0.1rem;
    text-align: center;
  }
  header .navbar_containers .menuHamburguesa {
    font-size: 28px;
    font-weight: bold;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-left: 0rem;
  }
  header .navbar_containers .menuHamburguesa .nav_menuhamburguesa_submenu {
    font-size: 25px;
  }
}

.carrusel {
  height: 35vh;
  display: none;
}

.d-block {
  height: 30vh;
}

@media only screen and (min-width: 769px) {
  .carrusel {
    height: 50vh;
    display: block;
  }
  .d-block {
    height: 45vh;
  }
  .caption-position {
    top: 210px;
  }
  .caption-position h5 {
    color: white;
    -webkit-text-stroke: 1.2px black;
    font-weight: bolder;
    font-size: 22px;
  }
  .caption-position p {
    color: white;
    -webkit-text-stroke: 1px black;
    font-weight: bolder;
    font-size: 18px;
  }
}

@media only screen and (min-width: 1024px) {
  .carrusel {
    height: 50vh;
  }
  .d-block {
    height: 45vh;
  }
  .caption-position {
    top: 270px;
  }
  .caption-position h5 {
    color: white;
    -webkit-text-stroke: 1.2px black;
    font-weight: bolder;
    font-size: 30px;
  }
  .caption-position p {
    color: white;
    -webkit-text-stroke: 1px black;
    font-weight: bolder;
    font-size: 26px;
  }
}

@media only screen and (min-width: 1254px) {
  .carrusel {
    height: 75vh;
  }
  .d-block {
    height: 70vh;
    margin-bottom: 5rem;
  }
  .caption-position {
    top: 390px;
  }
  .caption-position h5 {
    color: white;
    -webkit-text-stroke: 1.2px black;
    font-weight: bolder;
    font-size: 32px;
  }
  .caption-position p {
    color: white;
    -webkit-text-stroke: 1px black;
    font-weight: bolder;
    font-size: 28px;
  }
}

@media only screen and (min-width: 1624px) {
  .carrusel {
    height: 55vh;
  }
  .d-block {
    height: 50vh;
  }
  .caption-position {
    top: 480px;
  }
  .caption-position h5 {
    color: white;
    -webkit-text-stroke: 2px black;
    font-weight: bolder;
    font-size: 40px;
  }
  .caption-position p {
    color: white;
    -webkit-text-stroke: 1.8px black;
    font-weight: bolder;
    font-size: 34px;
  }
}

#Productosdestacados {
  margin-left: 5px;
}

#Productosdestacados .cajasProductos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: 0 auto;
}

#Productosdestacados .cajasProductos .col {
  width: 100%;
}

#Productosdestacados .texto1 {
  font-family: 'Anton', sans-serif;
  color: #93B5C6;
  text-align: center;
  font-size: 30px;
  padding-bottom: 2px;
  margin-top: 30px;
}

#Productosdestacados .texto2 {
  font-size: 14px;
}

#Productosdestacados .texto3 {
  font-size: 18px;
}

@media only screen and (min-width: 769px) {
  #Productosdestacados {
    margin-left: 5px;
  }
  #Productosdestacados .cajasProductos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: wrap;
        -ms-flex-pack: wrap;
            justify-content: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    margin: 0 auto;
  }
  #Productosdestacados .cajasProductos .col {
    width: 50%;
  }
  .texto1 {
    font-family: 'Anton', sans-serif;
    color: #93B5C6;
    font-size: 40px;
    padding-bottom: 2px;
    text-align: center;
  }
}

@media only screen and (min-width: 1024px) {
  #Productosdestacados {
    margin-left: 5px;
  }
  #Productosdestacados .cajasProductos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: wrap;
        -ms-flex-pack: wrap;
            justify-content: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: 0 auto;
  }
  #Productosdestacados .cajasProductos .col {
    width: 30%;
  }
  #Productosdestacados .cajasProductos .col .productosdestacados_col_imagen1 {
    width: 17.5rem;
    height: 25.5rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #Productosdestacados .cajasProductos .col .productosdestacados_col_imagen2 {
    width: 17.5rem;
    height: 24rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #Productosdestacados .cajasProductos .col .productosdestacados_col_imagen3 {
    width: 17.5rem;
    height: 26rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #Productosdestacados .cajasProductos .col .productosdestacados_col_imagen4 {
    width: 17.5rem;
    height: 24rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #Productosdestacados .cajasProductos .col .productosdestacados_col_imagen5 {
    width: 17.5rem;
    height: 25.5rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #Productosdestacados .cajasProductos .col .productosdestacados_col_imagen6 {
    width: 17.5rem;
    height: 25.5rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #Productosdestacados .cajasProductos .col .texto3 {
    font-size: 24px;
  }
  #Productosdestacados .cajasProductos .col .texto2 {
    font-size: 18px;
  }
  #Productosdestacados .cajasProductos .col .boton {
    font-size: 20px;
  }
  #Productosdestacados .texto1 {
    font-family: 'Anton', sans-serif;
    color: #93B5C6;
    text-align: center;
    font-size: 45px;
    padding-bottom: 2px;
  }
}

@media only screen and (min-width: 1254px) {
  #Productosdestacados {
    margin-left: 5px;
  }
  #Productosdestacados .cajasProductos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: wrap;
        -ms-flex-pack: wrap;
            justify-content: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: 0 auto;
  }
  #Productosdestacados .cajasProductos .col {
    width: 30%;
  }
  #Productosdestacados .cajasProductos .col .productosdestacados_col_imagen1 {
    width: 26.8rem;
    height: 29.4rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #Productosdestacados .cajasProductos .col .productosdestacados_col_imagen2 {
    width: 26.8rem;
    height: 29.5rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #Productosdestacados .cajasProductos .col .productosdestacados_col_imagen3 {
    width: 26.8rem;
    height: 31.5rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #Productosdestacados .cajasProductos .col .productosdestacados_col_imagen4 {
    width: 26.8rem;
    height: 31.5rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #Productosdestacados .cajasProductos .col .productosdestacados_col_imagen5 {
    width: 26.8rem;
    height: 31.5rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #Productosdestacados .cajasProductos .col .productosdestacados_col_imagen6 {
    width: 26.8rem;
    height: 29.9rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #Productosdestacados .cajasProductos .col .texto3 {
    font-size: 24px;
  }
  #Productosdestacados .cajasProductos .col .texto2 {
    font-size: 18px;
  }
  #Productosdestacados .cajasProductos .col .boton {
    font-size: 20px;
  }
  .texto1 {
    font-family: 'Anton', sans-serif;
    color: #93B5C6;
    text-align: center;
    font-size: 40px;
    padding-bottom: 2px;
  }
}

@media only screen and (min-width: 1624px) {
  #Productosdestacados {
    margin-left: 5px;
  }
  #Productosdestacados .texto1 {
    font-size: 60px;
  }
  #Productosdestacados .cajasProductos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: wrap;
        -ms-flex-pack: wrap;
            justify-content: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: 0 auto;
  }
  #Productosdestacados .cajasProductos .col {
    width: 30%;
  }
  #Productosdestacados .cajasProductos .col .productosdestacados_col_imagen1 {
    width: 28.9rem;
    height: 35.8rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #Productosdestacados .cajasProductos .col .productosdestacados_col_imagen2 {
    width: 28.9rem;
    height: 38rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #Productosdestacados .cajasProductos .col .productosdestacados_col_imagen3 {
    width: 28.65rem;
    height: 38rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #Productosdestacados .cajasProductos .col .productosdestacados_col_imagen4 {
    width: 28.65rem;
    height: 38rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #Productosdestacados .cajasProductos .col .productosdestacados_col_imagen5 {
    width: 28.65rem;
    height: 38rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #Productosdestacados .cajasProductos .col .productosdestacados_col_imagen6 {
    width: 28.65rem;
    height: 38rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #Productosdestacados .cajasProductos .col .texto3 {
    font-size: 32px;
  }
  #Productosdestacados .cajasProductos .col .texto2 {
    font-size: 26px;
  }
  #Productosdestacados .cajasProductos .col .boton {
    font-size: 30px;
  }
  .texto1 {
    font-family: 'Anton', sans-serif;
    color: #93B5C6;
    text-align: center;
    font-size: 40px;
    padding-bottom: 2px;
  }
}

#quienesSomos {
  margin-left: 5px;
}

#quienesSomos h3 {
  font-family: 'Anton', sans-serif;
  color: #93B5C6;
  font-size: 20px;
  padding-top: 10px;
}

#quienesSomos .quinesSomos {
  font-family: 'Acme', sans-serif;
  color: #abaeb6;
  font-weight: bold;
  text-align: center;
}

#quienesSomos .hechoAmor {
  width: 50%;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

@media only screen and (min-width: 769px) {
  #quienesSomos {
    margin-left: 5px;
  }
  #quienesSomos h3 {
    font-family: 'Anton', sans-serif;
    color: #93B5C6;
    font-size: 40px;
    padding-top: 20px;
    text-align: center;
  }
  #quienesSomos .quinesSomos {
    font-family: 'Acme', sans-serif;
    color: #abaeb6;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
  }
  #quienesSomos .hechoAmor {
    width: 20%;
    padding-left: 1rem;
  }
}

@media only screen and (min-width: 1024px) {
  #quienesSomos {
    margin-left: 5px;
  }
  #quienesSomos h3 {
    font-family: 'Anton', sans-serif;
    color: #93B5C6;
    font-size: 40px;
    padding-top: 30px;
    text-align: center;
  }
  #quienesSomos .quinesSomos {
    font-family: 'Acme', sans-serif;
    color: #abaeb6;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
  }
  #quienesSomos .hechoAmor {
    width: 20%;
    padding-left: 1.5rem;
  }
}

@media only screen and (min-width: 1254px) {
  #quienesSomos {
    margin-left: 5px;
  }
  #quienesSomos h3 {
    font-family: 'Anton', sans-serif;
    color: #93B5C6;
    font-size: 40px;
    padding-top: 30px;
    text-align: center;
  }
  #quienesSomos .quinesSomos {
    font-family: 'Acme', sans-serif;
    color: #abaeb6;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
  }
  #quienesSomos .hechoAmor {
    width: 10%;
    padding-left: 1.2rem;
  }
}

@media only screen and (min-width: 1624px) {
  #quienesSomos {
    margin-left: 5px;
  }
  #quienesSomos h3 {
    font-family: 'Anton', sans-serif;
    color: #93B5C6;
    font-size: 60px;
    padding-top: 30px;
    text-align: center;
  }
  #quienesSomos .quinesSomos {
    font-family: 'Acme', sans-serif;
    color: #abaeb6;
    font-weight: bold;
    text-align: center;
    font-size: 36px;
  }
  #quienesSomos .hechoAmor {
    width: 25%;
  }
}

#Opiniones {
  margin-left: 5px;
}

#Opiniones h3 {
  font-family: 'Anton', sans-serif;
  color: #93B5C6;
  font-size: 20px;
  padding-top: 10px;
  text-align: center;
}

#Opiniones .opiniones_cards {
  font-size: 16px;
  text-align: center;
}

#Opiniones .opiniones_cards_p {
  font-size: 12px;
  text-align: center;
}

@media only screen and (min-width: 769px) {
  #Opiniones {
    margin-left: 5px;
  }
  #Opiniones h3 {
    font-family: 'Anton', sans-serif;
    color: #93B5C6;
    font-size: 40px;
    padding-top: 20px;
    text-align: center;
  }
  #Opiniones .opiniones_cards {
    font-size: 20px;
    text-align: center;
  }
  #Opiniones .opiniones_cards_p {
    font-size: 14px;
    text-align: center;
  }
}

@media only screen and (min-width: 1024px) {
  #Opiniones {
    margin-left: 5px;
  }
  #Opiniones h3 {
    font-family: 'Anton', sans-serif;
    color: #93B5C6;
    font-size: 40px;
    padding-top: 20px;
    text-align: center;
  }
  #Opiniones .opiniones_cards {
    font-size: 24px;
    text-align: center;
  }
  #Opiniones .opiniones_cards_p {
    font-size: 18px;
    text-align: center;
  }
  #Opiniones .opiniones_small {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1254px) {
  #Opiniones {
    margin-left: 5px;
  }
  #Opiniones h3 {
    font-family: 'Anton', sans-serif;
    color: #93B5C6;
    font-size: 40px;
    padding-top: 20px;
    text-align: center;
  }
  #Opiniones .opiniones_cards {
    font-size: 24px;
    text-align: center;
  }
  #Opiniones .opiniones_cards_p {
    font-size: 18px;
    text-align: center;
  }
  #Opiniones .opiniones_small {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1624px) {
  #Opiniones {
    margin-left: 5px;
  }
  #Opiniones h3 {
    font-family: 'Anton', sans-serif;
    color: #93B5C6;
    font-size: 60px;
    padding-top: 20px;
    text-align: center;
  }
  #Opiniones .opiniones_cards {
    font-size: 38px;
    text-align: center;
  }
  #Opiniones .opiniones_cards_p {
    font-size: 30px;
    text-align: center;
  }
  #Opiniones .opiniones_small {
    font-size: 24px;
  }
}

* {
  margin: 0;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .header_principal_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 2fr;
      grid-template-columns: 6fr 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
  margin-right: 1rem;
  background-color: azure;
}

header .header_principal_container ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header_principal_container ul li {
  display: inline-block;
  width: 10rem;
  position: relative;
  font-size: 20px;
}

header .header_principal_container ul li a {
  color: cadetblue;
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
}

header .header_principal_container ul li a:hover {
  color: crimson;
  font-weight: bold;
}

header .header_principal_container ul li ul {
  position: absolute;
  display: none;
  line-height: 1rem;
}

header .header_principal_container ul li ul li {
  display: block;
}

header .header_principal_container ul li:hover ul {
  color: black;
  font-size: bold;
  display: block;
  background-color: blanchedalmond;
}

header .header_principal_container .header_principal_container_logo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 7fr;
      grid-template-columns: 6fr 7fr;
  margin-left: 2rem;
}

header .header_principal_container h4 {
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
  margin-right: 5rem;
  color: cadetblue;
}

.hijo {
  padding: 5px;
}

.naranja {
  display: none;
}

.rosa {
  width: 100%;
}

.rosa .producto {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.amarillo {
  width: 100%;
}

.amarillo .producto {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.verde {
  width: 100%;
}

.verde .producto {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.azul {
  width: 100%;
}

.azul .producto {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.rojo {
  width: 100%;
}

.rojo .producto {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.violeta .producto {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 769px) {
  .padre {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 2fr;
        grid-template-columns: 2fr 2fr;
    -ms-grid-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
        grid-template-areas: "naranja naranja" "rosa amarillo" "azul verde" "rojo violeta";
  }
  .hijo {
    padding: 5px;
  }
  .naranja {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: naranja;
    width: 100%;
  }
  .naranja .producto {
    height: 25rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .rosa {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: rosa;
    width: 100%;
  }
  .rosa .producto {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .amarillo {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: amarillo;
    width: 100%;
  }
  .amarillo .producto {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .azul {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: azul;
    width: 100%;
  }
  .azul .producto {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .verde {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: verde;
    width: 100%;
  }
  .verde .producto {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .rojo {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: rojo;
    width: 100%;
  }
  .rojo .producto {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .violeta {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: violeta;
    width: 100%;
  }
  .violeta .producto {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1024px) {
  .naranja {
    display: -ms-grid;
    display: grid;
    grid-area: naranja;
    width: 100%;
  }
  .naranja .producto {
    height: 35rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1254px) {
  .padre {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 2fr 2fr;
        grid-template-columns: 2fr 2fr 2fr;
    -ms-grid-rows: 0.5fr 0.5fr 0.5fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr;
        grid-template-areas: "naranja naranja naranja" "rosa amarillo azul" "verde rojo violeta";
  }
  .naranja {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: naranja;
    width: 100%;
  }
  .naranja .producto {
    height: 45rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

.promos {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3fr;
      grid-template-rows: 3fr;
  grid-row-gap: 12px;
  margin-left: 0.5rem;
  margin-top: 1rem;
  width: 95%;
}

.promos .fotopromo_banner {
  display: none;
}

.promos .fotoPromo img {
  max-width: 100%;
}

.promos .fotoPromo:hover {
  opacity: 1;
  border: solid 2px white;
  opacity: 40%;
}

@media only screen and (min-width: 769px) {
  .promos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 3rem;
    width: 90%;
    padding-top: 0.5rem;
  }
  .promos .fotoPromo img {
    width: 100%;
  }
  .promos .fotoPromo:hover {
    opacity: 1;
    border: solid 2px white;
    opacity: 40%;
  }
}

@media only screen and (min-width: 1024px) {
  .promos .fotopromo_banner {
    display: block;
    width: 90%;
  }
  .promos .fotopromo_banner .banner {
    height: 30rem;
    width: 100%;
  }
}

@media only screen and (min-width: 1254px) {
  .promos {
    width: 90%;
  }
  .promos .fotoPromo {
    height: 1fr;
  }
}

.ideasconFotos {
  margin-top: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3fr;
      grid-template-rows: 3fr;
  grid-row-gap: 10px;
  margin-left: 0.5rem;
  width: 95%;
}

.ideasconFotos .ideasFoto img {
  width: 100%;
  height: 30vh;
}

@media only screen and (min-width: 768px) {
  .ideasconFotos {
    margin-top: 5px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50fr 50fr;
        grid-template-columns: 50fr 50fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    margin-left: 0.5rem;
    width: 95%;
  }
  .ideasconFotos .ideasFoto img {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .ideasconFotos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30fr 30fr 30fr;
        grid-template-columns: 30fr 30fr 30fr;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 1rem;
    padding-left: 5rem;
  }
  .ideasconFotos .ideasFoto {
    width: 90%;
    opacity: .4;
    -webkit-transition: 2s all ease;
    transition: 2s all ease;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  }
  .ideasconFotos .ideasFoto img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
  .ideasconFotos .ideasFoto:hover {
    opacity: 1;
    width: 100%;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@media only screen and (min-width: 1254px) {
  .ideasconFotos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30fr 30fr 30fr;
        grid-template-columns: 30fr 30fr 30fr;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 1rem;
    padding-left: 5rem;
  }
  .ideasconFotos .ideasFoto {
    width: 90%;
    opacity: .4;
    -webkit-transition: 3s all ease;
    transition: 3s all ease;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  }
  .ideasconFotos .ideasFoto img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
  .ideasconFotos .ideasFoto:hover {
    opacity: 1;
    width: 100%;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@media only screen and (min-width: 1624px) {
  .ideasconFotos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 33fr 33fr 33fr;
        grid-template-columns: 33fr 33fr 33fr;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 1rem;
    padding-left: 6rem;
  }
  .ideasconFotos .ideasFoto {
    width: 95%;
    opacity: .4;
    -webkit-transition: 3s all ease;
    transition: 3s all ease;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  }
  .ideasconFotos .ideasFoto img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
  .ideasconFotos .ideasFoto:hover {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    width: 100%;
  }
}

main h2 {
  font-family: 'Anton', sans-serif;
  color: #93B5C6;
  font-size: 26px;
  padding-bottom: 2px;
  text-align: center;
}

main h3 {
  font-family: 'Anton', sans-serif;
  color: #93B5C6;
  font-size: 24px;
  padding-bottom: 2px;
  text-align: center;
}

main .accordion_caja {
  padding-top: 0.5rem;
  margin-bottom: 1rem;
}

main .accordion_caja .accordion_caja_pregunta {
  font-size: 18px;
}

main .accordion_caja .accordion_respuesta {
  font-weight: bold;
  font-size: 14px;
}

.formularioContacto {
  background-color: #e78be3;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.formularioContacto label {
  margin-top: 0.5rem;
  margin-left: 0.2rem;
}

.formularioContacto textarea {
  width: 90%;
  margin-left: 0.2rem;
}

.formularioContacto .botones {
  margin-top: 0.5rem;
}

@media only screen and (min-width: 1024px) {
  main h2 {
    font-family: 'Anton', sans-serif;
    color: #93B5C6;
    font-size: 28px;
    padding-bottom: 2px;
    text-align: center;
  }
  main h3 {
    font-family: 'Anton', sans-serif;
    color: #93B5C6;
    font-size: 26px;
    padding-bottom: 2px;
    text-align: center;
  }
  main .accordion_caja {
    padding-top: 0.5rem;
    margin-bottom: 1rem;
  }
  main .accordion_caja .accordion_caja_pregunta {
    font-size: 20px;
  }
  main .accordion_caja .accordion_respuesta {
    font-weight: bold;
    font-size: 16px;
  }
}

@media only screen and (min-width: 1624px) {
  main h2 {
    font-family: 'Anton', sans-serif;
    color: #93B5C6;
    font-size: 34px;
    padding-bottom: 2px;
    text-align: center;
  }
  main h3 {
    font-family: 'Anton', sans-serif;
    color: #93B5C6;
    font-size: 32px;
    padding-bottom: 2px;
    text-align: center;
  }
  main .accordion_caja {
    padding-top: 0.5rem;
    margin-bottom: 1rem;
  }
  main .accordion_caja .accordion_caja_pregunta {
    font-size: 26px;
  }
  main .accordion_caja .accordion_respuesta {
    font-weight: bold;
    font-size: 20px;
  }
}

footer {
  background-color: #494949;
}

footer .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .redes .footer_logo {
  height: 3rem;
  margin-left: 5rem;
}

footer .redes .footer_logoInstagram {
  height: 3rem;
  width: 3rem;
}

footer .redes .footer_logoFacebook {
  height: 3rem;
  width: 3rem;
}

footer .redes .footer_logowhatsapp {
  height: 3rem;
  width: 3rem;
}

@media only screen and (min-width: 769px) {
  footer {
    height: 8rem;
  }
  footer .redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 2rem;
  }
  footer .redes .footer_logo {
    height: 4rem;
    margin-left: 5rem;
  }
  footer .redes .footer_logoInstagram {
    height: 4rem;
    width: 4rem;
  }
  footer .redes .footer_logoFacebook {
    height: 4rem;
    width: 4rem;
  }
  footer .redes .footer_logowhatsapp {
    height: 4rem;
    width: 4rem;
  }
}

@media only screen and (min-width: 1024px) {
  footer {
    height: 8rem;
  }
  footer .redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 2rem;
  }
  footer .redes .footer_logo {
    height: 4rem;
    margin-left: 5rem;
  }
  footer .redes .footer_logoInstagram {
    height: 4rem;
    width: 4rem;
  }
  footer .redes .footer_logoInstagram:hover {
    opacity: 40%;
  }
  footer .redes .footer_logoFacebook {
    height: 4rem;
    width: 4rem;
  }
  footer .redes .footer_logoFacebook:hover {
    opacity: 40%;
  }
  footer .redes .footer_logowhatsapp {
    height: 4rem;
    width: 4rem;
  }
  footer .redes .footer_logowhatsapp:hover {
    opacity: 40%;
  }
}

main {
  background-color: #f1f1f1;
}
/*# sourceMappingURL=estilo.css.map */